#contact{
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    top: 12%;
    left: 2%;
    background-color: var(--cardColour);
       box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    animation: popout 2s;
}
#contact > a{
color: var(--textColour);
background-color: var(--mainColour) !important;
border: none;
padding: 5px 5px;
font-size: 30px;
margin: 8px;
text-decoration: none;
text-align: center;
}
/* .fa-brands,.fa-solid{
    margin: 10px;
    font-size: 30px;
} */
#map{
    position: absolute;
    top: 12%;
    left: 8%;
    width: 90%;
    background-color: gray;
    height: 80%;
    border-radius: 10px;
    z-index: 100000;
    transition: 2s;
    animation:leftside 2s;
}
@keyframes leftside {
    from{
        left: -50%;
    }to{
        left: 8%;
    }
}
#map > iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#map > button{
    position: absolute;
    top:5%;
    font-size: 20px;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 900;
    color: white;
    align-content: center;
    background-color: black;
    left: 90%;
    border: 1px solid white;
 
}
#video{
    position: absolute;
    top: 12%;
    left: 8%;
    width: 25%;
    background-color: gray;
    height: 80%;
    border-radius: 10px;
    z-index: 100000;
    transition: 2s;
    animation:leftside 2s;
}
#video > iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}
#video > button{
    position: absolute;
    top:5%;
    font-size: 20px;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 900;
    color: white;
    align-content: center;
    background-color: black;
    left: 80%;
    border: 1px solid white;
}
@media screen and (max-width: 768px)
{
    #contact{
        top: 85%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    }
    #contact > a{

padding: 5px 12px;
font-size: 25px;
margin: 8px;
text-decoration: none;
text-align: center;
}
 
}
@media screen and (max-width: 435px){
    #contact{
        top: 85%;
    grid-template-columns: 25% 25% 25% 25% 25%;
    }
    #contact > a{

padding: 5px 12px;
font-size: 25px;
margin: 7px;
text-decoration: none;
text-align: center;
}

}