#home{
    position: absolute;
    top: 12%;
    height: 80%;
    width: 90%;
    left: 8%;
        background-color: var(--cardColour);
       box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid var(--textColour);
    border-top: 30px solid white;
    animation: rightside 2s, popout 1s;
}
    .comma{
    position: absolute;
    width: 10%;
    top: 40px;
    left: 88%;
    border-radius: 10px;
    }
    .Quote{
        position: relative;
    font-family: system-ui,
     -apple-system, 
     BlinkMacSystemFont, 
     'Segoe UI', 
     Roboto, 
     Oxygen, 
     Ubuntu, 
     Cantarell, 
     'Open Sans', 
     'Helvetica Neue', 
     sans-serif;
     top: 20px;
     left: 30px;
     font-size: 45px;
    }
    .underline-1::after{
        position: relative;
        content:"__";
        font-weight: 900;
        font-size: 50px;
        left: 35px;
        top: -35px;
        width: 100px;
        text-shadow: rgba(255,255,255,1) 0px 0px 17px;
        height: 5px;
        animation: BlinkLine 1s infinite;

    }
    .myimg{
        position: absolute;
        top: 27%;
        left: 3%;
        width: 17%;
        border-radius: 10px;
    }
    .name{
        position: absolute;
        left: 25%;
        top: 28%;
    }
    .paragraph{
        position: absolute;
        top: 40%;
        left: 25%;
        font-size: 20px;
        line-height: 40px;
    }

@keyframes BlinkLine {
    from{
        content: "__";
    }to{
        content: " ";
    }from{
        content: "__";
    }
}
@media screen and (max-width: 768px)
{
 #home{
    position: absolute;
    top: 12%;
    height: 70%;
    width: 90%;
    left: 5%;
}
    .Quote{
        font-size: 30px;
    }
        .name{
        position: absolute;
        left: 10%;
        top: 70%;
        font-size: 20px;
    }
    .paragraph{
        position: absolute;
        top: 75%;
        left: 10%;
        font-size: 10px;
        line-height: 20px;
    }
        .myimg{
        top: 5%;
        left: 10%;
        width: 80%;
        clip-path: polygon(0% 15%, 10000% 50%, 10000% 100%, 0% 50%);

    }
}